[submodule "get_information/WebDeveloperInformationWebsite"]
	path = get_information/WebDeveloperInformationWebsite
	url = https://github.com/arpitparasana/WebDeveloperInformationWebsite
[submodule "get_information/calendar"]
	path = get_information/calendar
	url = https://github.com/react-component/calendar
[submodule "get_information/scheduler"]
	path = get_information/scheduler
	url = https://github.com/shotdog/scheduler
