[submodule "get_information/WebDeveloperInformationWebsite"]
	path = get_information/WebDeveloperInformationWebsite
	url = https://github.com/arpitparasana/WebDeveloperInformationWebsite
[submodule "get_information/calendar"]
	path = get_information/calendar
	url = https://github.com/react-component/calendar
[submodule "get_information/scheduler"]
	path = get_information/scheduler
	url = https://github.com/shotdog/scheduler
[submodule "get_information/Web"]
	path = get_information/Web
	url = https://github.com/CodingClubWebStudy/Web
[submodule "get_information/from_repositories/WebDeveloperInformationWebsite"]
	path = get_information/from_repositories/WebDeveloperInformationWebsite
	url = https://github.com/arpitparasana/WebDeveloperInformationWebsite
[submodule "get_information/from_repositories/calendar"]
	path = get_information/from_repositories/calendar
	url = https://github.com/react-component/calendar
[submodule "get_information/from_repositories/Web"]
	path = get_information/from_repositories/Web
	url = https://github.com/CodingClubWebStudy/Web
[submodule "get_information/from_repositories/scheduler"]
	path = get_information/from_repositories/scheduler
	url = https://github.com/shotdog/scheduler
[submodule "get_information/from_repositories/WebPlatformWG"]
	path = get_information/from_repositories/WebPlatformWG
	url = https://github.com/w3c/WebPlatformWG
[submodule "get_information/from_repositories/school-website"]
	path = get_information/from_repositories/school-website
	url = https://github.com/shishuvan/school-website
[submodule "get_information/from_repositories/d-calendar"]
	path = get_information/from_repositories/d-calendar
	url = https://github.com/subpopular/d-calendar
[submodule "get_information/from_repositories/google-calendar"]
	path = get_information/from_repositories/google-calendar
	url = https://github.com/GoogleWebComponents/google-calendar
[submodule "get_information/from_repositories/angular-material-calendar"]
	path = get_information/from_repositories/angular-material-calendar
	url = https://github.com/jsmodules/angular-material-calendar
[submodule "get_information/from_repositories/Lunar-Solar-Calendar-Converter"]
	path = get_information/from_repositories/Lunar-Solar-Calendar-Converter
	url = https://github.com/isee15/Lunar-Solar-Calendar-Converter
[submodule "get_information/from_repositories/angular2_calendar"]
	path = get_information/from_repositories/angular2_calendar
	url = https://github.com/djsmith42/angular2_calendar
[submodule "get_information/from_repositories/Calendario"]
	path = get_information/from_repositories/Calendario
	url = https://github.com/codrops/Calendario
[submodule "get_information/from_repositories/jQuery.Simple-Event-Calendar"]
	path = get_information/from_repositories/jQuery.Simple-Event-Calendar
	url = https://github.com/philipehsing/jQuery.Simple-Event-Calendar
[submodule "get_information/from_repositories/loopback-example-passport"]
	path = get_information/from_repositories/loopback-example-passport
	url = https://github.com/strongloop/loopback-example-passport
[submodule "get_information/from_repositories/DepartmentWebsite"]
	path = get_information/from_repositories/DepartmentWebsite
	url = https://github.com/marina-bard/DepartmentWebsite
[submodule "get_information/from_repositories/docs.c9.io"]
	path = get_information/from_repositories/docs.c9.io
	url = https://github.com/c9/docs.c9.io
[submodule "get_information/from_repositories/web-design-standards"]
	path = get_information/from_repositories/web-design-standards
	url = https://github.com/18F/web-design-standards
[submodule "AWS-VPN-Server-Setup"]
	path = AWS-VPN-Server-Setup
	url = https://github.com/webdigi/AWS-VPN-Server-Setup
[submodule "docs.c9.io"]
	path = docs.c9.io
	url = https://github.com/c9/docs.c9.io
[submodule "Lunar-Solar-Calendar-Converter"]
	path = Lunar-Solar-Calendar-Converter
	url = https://github.com/isee15/Lunar-Solar-Calendar-Converter
[submodule "angular2_calendar"]
	path = angular2_calendar
	url = https://github.com/djsmith42/angular2_calendar
[submodule "d-calendar"]
	path = d-calendar
	url = https://github.com/subpopular/d-calendar
[submodule "google-calendar"]
	path = google-calendar
	url = https://github.com/GoogleWebComponents/google-calendar
[submodule "web-design-standards"]
	path = web-design-standards
	url = https://github.com/18F/web-design-standards
[submodule "web-design-in-4-minutes"]
	path = web-design-in-4-minutes
	url = https://github.com/jgthms/web-design-in-4-minutes
[submodule "Glyphr-Studio-1"]
	path = Glyphr-Studio-1
	url = https://github.com/glyphr-studio/Glyphr-Studio-1
[submodule "socialmedia-leak"]
	path = socialmedia-leak
	url = https://github.com/RobinLinus/socialmedia-leak
[submodule "QuickLogin"]
	path = QuickLogin
	url = https://github.com/PayBas/QuickLogin
[submodule "get_information/from_repositories/AWS-VPN-Server-Setup"]
	path = get_information/from_repositories/AWS-VPN-Server-Setup
	url = https://github.com/webdigi/AWS-VPN-Server-Setup
[submodule "get_information/from_repositories/web-design-in-4-minutes"]
	path = get_information/from_repositories/web-design-in-4-minutes
	url = https://github.com/jgthms/web-design-in-4-minutes
[submodule "get_information/from_repositories/Glyphr-Studio-1"]
	path = get_information/from_repositories/Glyphr-Studio-1
	url = https://github.com/glyphr-studio/Glyphr-Studio-1
[submodule "get_information/from_repositories/socialmedia-leak"]
	path = get_information/from_repositories/socialmedia-leak
	url = https://github.com/RobinLinus/socialmedia-leak
[submodule "get_information/from_repositories/QuickLogin"]
	path = get_information/from_repositories/QuickLogin
	url = https://github.com/PayBas/QuickLogin
[submodule "bootstrap-suggest"]
	path = bootstrap-suggest
	url = https://github.com/lodev09/bootstrap-suggest
[submodule "get_information/from_repositories/bootstrap-suggest"]
	path = get_information/from_repositories/bootstrap-suggest
	url = https://github.com/lodev09/bootstrap-suggest
[submodule "get_information/from_repositories/newsprint"]
	path = get_information/from_repositories/newsprint
	url = https://github.com/rodati/newsprint
[submodule "get_information/from_repositories/Kanbanion"]
	path = get_information/from_repositories/Kanbanion
	url = https://github.com/nmaggioni/Kanbanion
[submodule "get_information/from_repositories/inout2"]
	path = get_information/from_repositories/inout2
	url = https://github.com/xd1936/inout2
[submodule "get_information/from_repositories/bglar.github.io"]
	path = get_information/from_repositories/bglar.github.io
	url = https://github.com/bglar/bglar.github.io
[submodule "get_information/from_repositories/brewformulas.org"]
	path = get_information/from_repositories/brewformulas.org
	url = https://github.com/zedtux/brewformulas.org
[submodule "get_information/from_repositories/qis"]
	path = get_information/from_repositories/qis
	url = https://github.com/propublica/qis
[submodule "get_information/from_repositories/ahmia"]
	path = get_information/from_repositories/ahmia
	url = https://github.com/juhanurmi/ahmia
[submodule "get_information/from_repositories/bootstrap-list-filter"]
	path = get_information/from_repositories/bootstrap-list-filter
	url = https://github.com/stefanocudini/bootstrap-list-filter
[submodule "get_information/from_repositories/instagram-search"]
	path = get_information/from_repositories/instagram-search
	url = https://github.com/osahyoun/instagram-search
[submodule "get_information/from_repositories/Sourcerer"]
	path = get_information/from_repositories/Sourcerer
	url = https://github.com/Mondego/Sourcerer
[submodule "get_information/from_repositories/awesome-slider"]
	path = get_information/from_repositories/awesome-slider
	url = https://github.com/rcaferati/awesome-slider
[submodule "get_information/from_repositories/IngressMosaicMissionMap"]
	path = get_information/from_repositories/IngressMosaicMissionMap
	url = https://github.com/tallistroan/IngressMosaicMissionMap
[submodule "get_information/from_repositories/socket.io"]
	path = get_information/from_repositories/socket.io
	url = https://github.com/socketio/socket.io
[submodule "get_information/from_repositories/serverless"]
	path = get_information/from_repositories/serverless
	url = https://github.com/serverless/serverless
[submodule "get_information/from_repositories/shadowsocks-windows"]
	path = get_information/from_repositories/shadowsocks-windows
	url = https://github.com/shadowsocks/shadowsocks-windows
[submodule "get_information/from_repositories/RQShineLabel"]
	path = get_information/from_repositories/RQShineLabel
	url = https://github.com/zipme/RQShineLabel
[submodule "get_information/from_repositories/vault"]
	path = get_information/from_repositories/vault
	url = https://github.com/hashicorp/vault
[submodule "get_information/from_repositories/blackbox"]
	path = get_information/from_repositories/blackbox
	url = https://github.com/StackExchange/blackbox
[submodule "get_information/from_repositories/confidant"]
	path = get_information/from_repositories/confidant
	url = https://github.com/lyft/confidant
[submodule "get_information/from_repositories/php-graph-sdk"]
	path = get_information/from_repositories/php-graph-sdk
	url = https://github.com/facebook/php-graph-sdk
[submodule "get_information/from_repositories/retrospectiva"]
	path = get_information/from_repositories/retrospectiva
	url = https://github.com/dim/retrospectiva
[submodule "get_information/from_repositories/ROS-road-line-junction-extraction"]
	path = get_information/from_repositories/ROS-road-line-junction-extraction
	url = https://github.com/tmadl/ROS-road-line-junction-extraction
[submodule "get_information/from_repositories/list"]
	path = get_information/from_repositories/list
	url = https://github.com/publicsuffix/list
[submodule "get_information/from_repositories/Mvc"]
	path = get_information/from_repositories/Mvc
	url = https://github.com/aspnet/Mvc
[submodule "get_information/from_repositories/Webplate"]
	path = get_information/from_repositories/Webplate
	url = https://github.com/chrishumboldt/Webplate
[submodule "get_information/from_repositories/frog"]
	path = get_information/from_repositories/frog
	url = https://github.com/greghendershott/frog
[submodule "get_information/from_repositories/jquery-localize"]
	path = get_information/from_repositories/jquery-localize
	url = https://github.com/coderifous/jquery-localize
[submodule "get_information/from_repositories/jasperproject.github.io"]
	path = get_information/from_repositories/jasperproject.github.io
	url = https://github.com/jasperproject/jasperproject.github.io
[submodule "get_information/from_repositories/staticsitegenerators-website"]
	path = get_information/from_repositories/staticsitegenerators-website
	url = https://github.com/bevry/staticsitegenerators-website
[submodule "get_information/from_repositories/bonsai"]
	path = get_information/from_repositories/bonsai
	url = https://github.com/benschwarz/bonsai
[submodule "get_information/from_repositories/pygreen"]
	path = get_information/from_repositories/pygreen
	url = https://github.com/nicolas-van/pygreen
[submodule "get_information/from_repositories/site"]
	path = get_information/from_repositories/site
	url = https://github.com/locomotivecms/site
[submodule "get_information/from_repositories/stacey-site"]
	path = get_information/from_repositories/stacey-site
	url = https://github.com/kolber/stacey-site
[submodule "get_information/from_repositories/SwiftNotice"]
	path = get_information/from_repositories/SwiftNotice
	url = https://github.com/johnlui/SwiftNotice
[submodule "get_information/from_repositories/openlava-web"]
	path = get_information/from_repositories/openlava-web
	url = https://github.com/irvined1982/openlava-web
[submodule "get_information/from_repositories/jqModal"]
	path = get_information/from_repositories/jqModal
	url = https://github.com/briceburg/jqModal
[submodule "get_information/from_repositories/Web-Karma"]
	path = get_information/from_repositories/Web-Karma
	url = https://github.com/usc-isi-i2/Web-Karma
