[submodule "get_information/WebDeveloperInformationWebsite"]
	path = get_information/WebDeveloperInformationWebsite
	url = https://github.com/arpitparasana/WebDeveloperInformationWebsite
[submodule "get_information/calendar"]
	path = get_information/calendar
	url = https://github.com/react-component/calendar
[submodule "get_information/scheduler"]
	path = get_information/scheduler
	url = https://github.com/shotdog/scheduler
[submodule "get_information/Web"]
	path = get_information/Web
	url = https://github.com/CodingClubWebStudy/Web
[submodule "get_information/from_repositories/WebDeveloperInformationWebsite"]
	path = get_information/from_repositories/WebDeveloperInformationWebsite
	url = https://github.com/arpitparasana/WebDeveloperInformationWebsite
[submodule "get_information/from_repositories/calendar"]
	path = get_information/from_repositories/calendar
	url = https://github.com/react-component/calendar
[submodule "get_information/from_repositories/Web"]
	path = get_information/from_repositories/Web
	url = https://github.com/CodingClubWebStudy/Web
[submodule "get_information/from_repositories/scheduler"]
	path = get_information/from_repositories/scheduler
	url = https://github.com/shotdog/scheduler
[submodule "get_information/from_repositories/WebPlatformWG"]
	path = get_information/from_repositories/WebPlatformWG
	url = https://github.com/w3c/WebPlatformWG
[submodule "get_information/from_repositories/school-website"]
	path = get_information/from_repositories/school-website
	url = https://github.com/shishuvan/school-website
[submodule "get_information/from_repositories/d-calendar"]
	path = get_information/from_repositories/d-calendar
	url = https://github.com/subpopular/d-calendar
[submodule "get_information/from_repositories/google-calendar"]
	path = get_information/from_repositories/google-calendar
	url = https://github.com/GoogleWebComponents/google-calendar
[submodule "get_information/from_repositories/angular-material-calendar"]
	path = get_information/from_repositories/angular-material-calendar
	url = https://github.com/jsmodules/angular-material-calendar
[submodule "get_information/from_repositories/Lunar-Solar-Calendar-Converter"]
	path = get_information/from_repositories/Lunar-Solar-Calendar-Converter
	url = https://github.com/isee15/Lunar-Solar-Calendar-Converter
[submodule "get_information/from_repositories/angular2_calendar"]
	path = get_information/from_repositories/angular2_calendar
	url = https://github.com/djsmith42/angular2_calendar
[submodule "get_information/from_repositories/Calendario"]
	path = get_information/from_repositories/Calendario
	url = https://github.com/codrops/Calendario
[submodule "get_information/from_repositories/jQuery.Simple-Event-Calendar"]
	path = get_information/from_repositories/jQuery.Simple-Event-Calendar
	url = https://github.com/philipehsing/jQuery.Simple-Event-Calendar
[submodule "get_information/from_repositories/loopback-example-passport"]
	path = get_information/from_repositories/loopback-example-passport
	url = https://github.com/strongloop/loopback-example-passport
[submodule "get_information/from_repositories/DepartmentWebsite"]
	path = get_information/from_repositories/DepartmentWebsite
	url = https://github.com/marina-bard/DepartmentWebsite
[submodule "get_information/from_repositories/docs.c9.io"]
	path = get_information/from_repositories/docs.c9.io
	url = https://github.com/c9/docs.c9.io
[submodule "get_information/from_repositories/web-design-standards"]
	path = get_information/from_repositories/web-design-standards
	url = https://github.com/18F/web-design-standards
[submodule "AWS-VPN-Server-Setup"]
	path = AWS-VPN-Server-Setup
	url = https://github.com/webdigi/AWS-VPN-Server-Setup
[submodule "docs.c9.io"]
	path = docs.c9.io
	url = https://github.com/c9/docs.c9.io
[submodule "Lunar-Solar-Calendar-Converter"]
	path = Lunar-Solar-Calendar-Converter
	url = https://github.com/isee15/Lunar-Solar-Calendar-Converter
[submodule "angular2_calendar"]
	path = angular2_calendar
	url = https://github.com/djsmith42/angular2_calendar
[submodule "d-calendar"]
	path = d-calendar
	url = https://github.com/subpopular/d-calendar
[submodule "google-calendar"]
	path = google-calendar
	url = https://github.com/GoogleWebComponents/google-calendar
[submodule "web-design-standards"]
	path = web-design-standards
	url = https://github.com/18F/web-design-standards
[submodule "web-design-in-4-minutes"]
	path = web-design-in-4-minutes
	url = https://github.com/jgthms/web-design-in-4-minutes
[submodule "Glyphr-Studio-1"]
	path = Glyphr-Studio-1
	url = https://github.com/glyphr-studio/Glyphr-Studio-1
[submodule "socialmedia-leak"]
	path = socialmedia-leak
	url = https://github.com/RobinLinus/socialmedia-leak
[submodule "QuickLogin"]
	path = QuickLogin
	url = https://github.com/PayBas/QuickLogin
[submodule "get_information/from_repositories/AWS-VPN-Server-Setup"]
	path = get_information/from_repositories/AWS-VPN-Server-Setup
	url = https://github.com/webdigi/AWS-VPN-Server-Setup
[submodule "get_information/from_repositories/web-design-in-4-minutes"]
	path = get_information/from_repositories/web-design-in-4-minutes
	url = https://github.com/jgthms/web-design-in-4-minutes
[submodule "get_information/from_repositories/Glyphr-Studio-1"]
	path = get_information/from_repositories/Glyphr-Studio-1
	url = https://github.com/glyphr-studio/Glyphr-Studio-1
[submodule "get_information/from_repositories/socialmedia-leak"]
	path = get_information/from_repositories/socialmedia-leak
	url = https://github.com/RobinLinus/socialmedia-leak
[submodule "get_information/from_repositories/QuickLogin"]
	path = get_information/from_repositories/QuickLogin
	url = https://github.com/PayBas/QuickLogin
[submodule "bootstrap-suggest"]
	path = bootstrap-suggest
	url = https://github.com/lodev09/bootstrap-suggest
[submodule "get_information/from_repositories/bootstrap-suggest"]
	path = get_information/from_repositories/bootstrap-suggest
	url = https://github.com/lodev09/bootstrap-suggest
[submodule "get_information/from_repositories/newsprint"]
	path = get_information/from_repositories/newsprint
	url = https://github.com/rodati/newsprint
[submodule "get_information/from_repositories/Kanbanion"]
	path = get_information/from_repositories/Kanbanion
	url = https://github.com/nmaggioni/Kanbanion
[submodule "get_information/from_repositories/inout2"]
	path = get_information/from_repositories/inout2
	url = https://github.com/xd1936/inout2
[submodule "get_information/from_repositories/bglar.github.io"]
	path = get_information/from_repositories/bglar.github.io
	url = https://github.com/bglar/bglar.github.io
[submodule "get_information/from_repositories/brewformulas.org"]
	path = get_information/from_repositories/brewformulas.org
	url = https://github.com/zedtux/brewformulas.org
[submodule "get_information/from_repositories/qis"]
	path = get_information/from_repositories/qis
	url = https://github.com/propublica/qis
[submodule "get_information/from_repositories/ahmia"]
	path = get_information/from_repositories/ahmia
	url = https://github.com/juhanurmi/ahmia
[submodule "get_information/from_repositories/bootstrap-list-filter"]
	path = get_information/from_repositories/bootstrap-list-filter
	url = https://github.com/stefanocudini/bootstrap-list-filter
[submodule "get_information/from_repositories/instagram-search"]
	path = get_information/from_repositories/instagram-search
	url = https://github.com/osahyoun/instagram-search
[submodule "get_information/from_repositories/Sourcerer"]
	path = get_information/from_repositories/Sourcerer
	url = https://github.com/Mondego/Sourcerer
[submodule "get_information/from_repositories/awesome-slider"]
	path = get_information/from_repositories/awesome-slider
	url = https://github.com/rcaferati/awesome-slider
[submodule "get_information/from_repositories/IngressMosaicMissionMap"]
	path = get_information/from_repositories/IngressMosaicMissionMap
	url = https://github.com/tallistroan/IngressMosaicMissionMap
[submodule "get_information/from_repositories/socket.io"]
	path = get_information/from_repositories/socket.io
	url = https://github.com/socketio/socket.io
[submodule "get_information/from_repositories/serverless"]
	path = get_information/from_repositories/serverless
	url = https://github.com/serverless/serverless
[submodule "get_information/from_repositories/shadowsocks-windows"]
	path = get_information/from_repositories/shadowsocks-windows
	url = https://github.com/shadowsocks/shadowsocks-windows
[submodule "get_information/from_repositories/RQShineLabel"]
	path = get_information/from_repositories/RQShineLabel
	url = https://github.com/zipme/RQShineLabel
[submodule "get_information/from_repositories/vault"]
	path = get_information/from_repositories/vault
	url = https://github.com/hashicorp/vault
[submodule "get_information/from_repositories/blackbox"]
	path = get_information/from_repositories/blackbox
	url = https://github.com/StackExchange/blackbox
[submodule "get_information/from_repositories/confidant"]
	path = get_information/from_repositories/confidant
	url = https://github.com/lyft/confidant
[submodule "get_information/from_repositories/php-graph-sdk"]
	path = get_information/from_repositories/php-graph-sdk
	url = https://github.com/facebook/php-graph-sdk
[submodule "get_information/from_repositories/retrospectiva"]
	path = get_information/from_repositories/retrospectiva
	url = https://github.com/dim/retrospectiva
[submodule "get_information/from_repositories/ROS-road-line-junction-extraction"]
	path = get_information/from_repositories/ROS-road-line-junction-extraction
	url = https://github.com/tmadl/ROS-road-line-junction-extraction
[submodule "get_information/from_repositories/list"]
	path = get_information/from_repositories/list
	url = https://github.com/publicsuffix/list
[submodule "get_information/from_repositories/Mvc"]
	path = get_information/from_repositories/Mvc
	url = https://github.com/aspnet/Mvc
[submodule "get_information/from_repositories/Webplate"]
	path = get_information/from_repositories/Webplate
	url = https://github.com/chrishumboldt/Webplate
[submodule "get_information/from_repositories/frog"]
	path = get_information/from_repositories/frog
	url = https://github.com/greghendershott/frog
[submodule "get_information/from_repositories/jquery-localize"]
	path = get_information/from_repositories/jquery-localize
	url = https://github.com/coderifous/jquery-localize
[submodule "get_information/from_repositories/jasperproject.github.io"]
	path = get_information/from_repositories/jasperproject.github.io
	url = https://github.com/jasperproject/jasperproject.github.io
[submodule "get_information/from_repositories/staticsitegenerators-website"]
	path = get_information/from_repositories/staticsitegenerators-website
	url = https://github.com/bevry/staticsitegenerators-website
[submodule "get_information/from_repositories/bonsai"]
	path = get_information/from_repositories/bonsai
	url = https://github.com/benschwarz/bonsai
[submodule "get_information/from_repositories/pygreen"]
	path = get_information/from_repositories/pygreen
	url = https://github.com/nicolas-van/pygreen
[submodule "get_information/from_repositories/site"]
	path = get_information/from_repositories/site
	url = https://github.com/locomotivecms/site
[submodule "get_information/from_repositories/stacey-site"]
	path = get_information/from_repositories/stacey-site
	url = https://github.com/kolber/stacey-site
[submodule "get_information/from_repositories/SwiftNotice"]
	path = get_information/from_repositories/SwiftNotice
	url = https://github.com/johnlui/SwiftNotice
[submodule "get_information/from_repositories/openlava-web"]
	path = get_information/from_repositories/openlava-web
	url = https://github.com/irvined1982/openlava-web
[submodule "get_information/from_repositories/jqModal"]
	path = get_information/from_repositories/jqModal
	url = https://github.com/briceburg/jqModal
[submodule "get_information/from_repositories/Web-Karma"]
	path = get_information/from_repositories/Web-Karma
	url = https://github.com/usc-isi-i2/Web-Karma
[submodule "get_information/from_repositories/pageinfo"]
	path = get_information/from_repositories/pageinfo
	url = https://github.com/nytlabs/pageinfo
[submodule "get_information/from_repositories/Embed"]
	path = get_information/from_repositories/Embed
	url = https://github.com/oscarotero/Embed
[submodule "get_information/from_repositories/FoodAlarm"]
	path = get_information/from_repositories/FoodAlarm
	url = https://github.com/bushmonkey/FoodAlarm
[submodule "get_information/from_repositories/foodsoft"]
	path = get_information/from_repositories/foodsoft
	url = https://github.com/foodcoops/foodsoft
[submodule "get_information/from_repositories/rabel"]
	path = get_information/from_repositories/rabel
	url = https://github.com/daqing/rabel
[submodule "get_information/from_repositories/SchedulePlanningWebsite"]
	path = get_information/from_repositories/SchedulePlanningWebsite
	url = https://github.com/eliarons/SchedulePlanningWebsite
[submodule "get_information/from_repositories/website"]
	path = get_information/from_repositories/website
	url = https://github.com/phalcon/website
[submodule "get_information/from_repositories/totorojs.org"]
	path = get_information/from_repositories/totorojs.org
	url = https://github.com/totorojs/totorojs.org
[submodule "get_information/from_repositories/kicad-website"]
	path = get_information/from_repositories/kicad-website
	url = https://github.com/KiCad/kicad-website
[submodule "get_information/from_repositories/lab2023.com"]
	path = get_information/from_repositories/lab2023.com
	url = https://github.com/lab2023/lab2023.com
[submodule "get_information/from_repositories/textpattern-com-website"]
	path = get_information/from_repositories/textpattern-com-website
	url = https://github.com/textpattern/textpattern-com-website
[submodule "get_information/from_repositories/webdriver.io"]
	path = get_information/from_repositories/webdriver.io
	url = https://github.com/webdriverio/webdriver.io
[submodule "get_information/from_repositories/resurrectionremix-website"]
	path = get_information/from_repositories/resurrectionremix-website
	url = https://github.com/xenon92/resurrectionremix-website
[submodule "get_information/from_repositories/MaterialLogin"]
	path = get_information/from_repositories/MaterialLogin
	url = https://github.com/fanrunqi/MaterialLogin
[submodule "get_information/from_repositories/node-login"]
	path = get_information/from_repositories/node-login
	url = https://github.com/braitsch/node-login
[submodule "get_information/from_repositories/login-flow"]
	path = get_information/from_repositories/login-flow
	url = https://github.com/mxstbr/login-flow
[submodule "get_information/from_repositories/groundwork"]
	path = get_information/from_repositories/groundwork
	url = https://github.com/groundworkcss/groundwork
[submodule "get_information/from_repositories/react-material"]
	path = get_information/from_repositories/react-material
	url = https://github.com/BerkeleyTrue/react-material
[submodule "get_information/from_repositories/fullcalendar"]
	path = get_information/from_repositories/fullcalendar
	url = https://github.com/fullcalendar/fullcalendar
[submodule "get_information/from_repositories/rome"]
	path = get_information/from_repositories/rome
	url = https://github.com/bevacqua/rome
[submodule "get_information/from_repositories/bootstrap-calendar"]
	path = get_information/from_repositories/bootstrap-calendar
	url = https://github.com/Serhioromano/bootstrap-calendar
[submodule "get_information/from_repositories/bootstrap"]
	path = get_information/from_repositories/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "get_information/from_repositories/angular.js"]
	path = get_information/from_repositories/angular.js
	url = https://github.com/angular/angular.js
[submodule "get_information/from_repositories/vue"]
	path = get_information/from_repositories/vue
	url = https://github.com/vuejs/vue
[submodule "get_information/from_repositories/express"]
	path = get_information/from_repositories/express
	url = https://github.com/expressjs/express
[submodule "get_information/from_repositories/django"]
	path = get_information/from_repositories/django
	url = https://github.com/django/django
[submodule "get_information/from_repositories/martini"]
	path = get_information/from_repositories/martini
	url = https://github.com/go-martini/martini
[submodule "get_information/from_repositories/iscroll"]
	path = get_information/from_repositories/iscroll
	url = https://github.com/cubiq/iscroll
[submodule "get_information/from_repositories/nativefier"]
	path = get_information/from_repositories/nativefier
	url = https://github.com/jiahaog/nativefier
[submodule "get_information/from_repositories/uikit"]
	path = get_information/from_repositories/uikit
	url = https://github.com/uikit/uikit
[submodule "get_information/from_repositories/webpack-dashboard"]
	path = get_information/from_repositories/webpack-dashboard
	url = https://github.com/FormidableLabs/webpack-dashboard
[submodule "get_information/from_repositories/vapor"]
	path = get_information/from_repositories/vapor
	url = https://github.com/vapor/vapor
[submodule "get_information/from_repositories/revel"]
	path = get_information/from_repositories/revel
	url = https://github.com/revel/revel
[submodule "get_information/from_repositories/cphalcon"]
	path = get_information/from_repositories/cphalcon
	url = https://github.com/phalcon/cphalcon
[submodule "get_information/from_repositories/gremlins.js"]
	path = get_information/from_repositories/gremlins.js
	url = https://github.com/marmelab/gremlins.js
[submodule "get_information/from_repositories/colors"]
	path = get_information/from_repositories/colors
	url = https://github.com/mrmrs/colors
[submodule "get_information/from_repositories/howler.js"]
	path = get_information/from_repositories/howler.js
	url = https://github.com/goldfire/howler.js
[submodule "get_information/from_repositories/gotty"]
	path = get_information/from_repositories/gotty
	url = https://github.com/yudai/gotty
[submodule "get_information/from_repositories/WebFundamentals"]
	path = get_information/from_repositories/WebFundamentals
	url = https://github.com/google/WebFundamentals
[submodule "get_information/from_repositories/Kingfisher"]
	path = get_information/from_repositories/Kingfisher
	url = https://github.com/onevcat/Kingfisher
[submodule "get_information/from_repositories/beautiful-web-type"]
	path = get_information/from_repositories/beautiful-web-type
	url = https://github.com/ubuwaits/beautiful-web-type
[submodule "get_information/from_repositories/seajs"]
	path = get_information/from_repositories/seajs
	url = https://github.com/seajs/seajs
[submodule "get_information/from_repositories/echo"]
	path = get_information/from_repositories/echo
	url = https://github.com/labstack/echo
[submodule "get_information/from_repositories/element"]
	path = get_information/from_repositories/element
	url = https://github.com/ElemeFE/element
[submodule "get_information/from_repositories/dropwizard"]
	path = get_information/from_repositories/dropwizard
	url = https://github.com/dropwizard/dropwizard
[submodule "get_information/from_repositories/Kitura"]
	path = get_information/from_repositories/Kitura
	url = https://github.com/IBM-Swift/Kitura
[submodule "get_information/from_repositories/puma"]
	path = get_information/from_repositories/puma
	url = https://github.com/puma/puma
[submodule "get_information/from_repositories/tracking.js"]
	path = get_information/from_repositories/tracking.js
	url = https://github.com/eduardolundgren/tracking.js
[submodule "get_information/from_repositories/topcoat"]
	path = get_information/from_repositories/topcoat
	url = https://github.com/topcoat/topcoat
[submodule "get_information/from_repositories/browser-logos"]
	path = get_information/from_repositories/browser-logos
	url = https://github.com/alrra/browser-logos
[submodule "get_information/from_repositories/webpy"]
	path = get_information/from_repositories/webpy
	url = https://github.com/webpy/webpy
[submodule "get_information/from_repositories/mobile-boilerplate"]
	path = get_information/from_repositories/mobile-boilerplate
	url = https://github.com/h5bp/mobile-boilerplate
[submodule "get_information/from_repositories/sharelatex"]
	path = get_information/from_repositories/sharelatex
	url = https://github.com/sharelatex/sharelatex
[submodule "get_information/from_repositories/faye"]
	path = get_information/from_repositories/faye
	url = https://github.com/faye/faye
[submodule "get_information/from_repositories/react-primer-draft"]
	path = get_information/from_repositories/react-primer-draft
	url = https://github.com/mikechau/react-primer-draft
[submodule "get_information/from_repositories/OS.js"]
	path = get_information/from_repositories/OS.js
	url = https://github.com/os-js/OS.js
[submodule "get_information/from_repositories/passenger"]
	path = get_information/from_repositories/passenger
	url = https://github.com/phusion/passenger
[submodule "get_information/from_repositories/ng-cordova"]
	path = get_information/from_repositories/ng-cordova
	url = https://github.com/driftyco/ng-cordova
[submodule "get_information/from_repositories/apidoc"]
	path = get_information/from_repositories/apidoc
	url = https://github.com/apidoc/apidoc
[submodule "get_information/from_repositories/iron"]
	path = get_information/from_repositories/iron
	url = https://github.com/iron/iron
[submodule "get_information/from_repositories/yui3"]
	path = get_information/from_repositories/yui3
	url = https://github.com/yui/yui3
[submodule "get_information/from_repositories/webmagic"]
	path = get_information/from_repositories/webmagic
	url = https://github.com/code4craft/webmagic
[submodule "get_information/from_repositories/hanami"]
	path = get_information/from_repositories/hanami
	url = https://github.com/hanami/hanami
[submodule "get_information/from_repositories/socketstream"]
	path = get_information/from_repositories/socketstream
	url = https://github.com/socketstream/socketstream
[submodule "get_information/from_repositories/nodePPT"]
	path = get_information/from_repositories/nodePPT
	url = https://github.com/ksky521/nodePPT
[submodule "get_information/from_repositories/volt"]
	path = get_information/from_repositories/volt
	url = https://github.com/voltrb/volt
[submodule "get_information/from_repositories/x-ray"]
	path = get_information/from_repositories/x-ray
	url = https://github.com/lapwinglabs/x-ray
[submodule "get_information/from_repositories/goji"]
	path = get_information/from_repositories/goji
	url = https://github.com/zenazn/goji
[submodule "get_information/from_repositories/clappr"]
	path = get_information/from_repositories/clappr
	url = https://github.com/clappr/clappr
[submodule "get_information/from_repositories/kap"]
	path = get_information/from_repositories/kap
	url = https://github.com/wulkano/kap
[submodule "get_information/from_repositories/emmet"]
	path = get_information/from_repositories/emmet
	url = https://github.com/emmetio/emmet
[submodule "get_information/from_repositories/anijs"]
	path = get_information/from_repositories/anijs
	url = https://github.com/anijs/anijs
[submodule "get_information/from_repositories/hummingbird"]
	path = get_information/from_repositories/hummingbird
	url = https://github.com/mnutt/hummingbird
[submodule "get_information/from_repositories/freegeoip"]
	path = get_information/from_repositories/freegeoip
	url = https://github.com/fiorix/freegeoip
[submodule "get_information/from_repositories/docpad"]
	path = get_information/from_repositories/docpad
	url = https://github.com/docpad/docpad
